<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            label="Nimble Template Processor"
            visible="true"
            id="br.gov.frameworkdemoiselle.tools.nimble.eclipse.actionSet">
         <menu
               label="Demoiselle Nimble"
               id="nimbleMenu">
            <separator
                  name="nimbleGroup">
            </separator>
         </menu>
         <action
               label="&amp;Template Processor"
               icon="icons/demoiselleIcon.png"
               class="br.gov.frameworkdemoiselle.tools.nimble.eclipse.actions.NimbleAction"
               tooltip="Demoiselle Nimble"
               menubarPath="nimbleMenu/nimbleGroup"
               toolbarPath="nimbleGroup"
               id="br.gov.frameworkdemoiselle.tools.nimble.eclipse.actions.NimbleAction">
         </action>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            name="Demoselle Nimble"
            id="br.gov.frameworkdemoiselle.tools.nimble.eclipse">
      </category>
      <wizard
            name="Template Processor"
            icon="icons/demoiselleIcon.png"
            category="br.gov.frameworkdemoiselle.tools.nimble.eclipse"
            class="br.gov.frameworkdemoiselle.tools.nimble.eclipse.wizards.NimbleNewWizard"
            id="br.gov.frameworkdemoiselle.tools.nimble.eclipse.wizards.NimbleNewWizard">
      </wizard>
   </extension>
</plugin>
