<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.decorators">
      <decorator
            lightweight="true"
            location="BOTTOM_RIGHT"
            adaptable="true"
            label="Resource Decorator"
            icon="icons/demoiselleIcon.png"
            state="true"
            id="br.gov.frameworkdemoiselle.tools.nimble.eclipse.decorator">
         <enablement>
               <objectClass
                        name="org.eclipse.core.resources.IProject">
               </objectClass>
         </enablement>
      </decorator>
   </extension>   
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            label="Nimble Template Processor"
            visible="true"
            id="br.gov.frameworkdemoiselle.tools.nimble.eclipse.actionSet">
         <menu
               label="Demoiselle Nimble"
               id="nimbleMenu">
            <separator
                  name="nimbleGroup">
            </separator>
         </menu>
         <action
               label="&amp;Template Processor"
               icon="icons/demoiselleIcon.png"
               class="br.gov.frameworkdemoiselle.tools.nimble.eclipse.actions.NimbleAction"
               tooltip="Demoiselle Nimble"
               menubarPath="nimbleMenu/nimbleGroup"
               toolbarPath="nimbleGroup"
               id="br.gov.frameworkdemoiselle.tools.nimble.eclipse.actions.NimbleAction">
         </action>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            name="Demoselle Nimble"
            id="br.gov.frameworkdemoiselle.tools.nimble.eclipse">
      </category>
      <wizard
            name="Template Processor"
            icon="icons/demoiselleIcon.png"
            category="br.gov.frameworkdemoiselle.tools.nimble.eclipse"
            class="br.gov.frameworkdemoiselle.tools.nimble.eclipse.wizards.NimbleNewWizard"
            id="br.gov.frameworkdemoiselle.tools.nimble.eclipse.wizards.NimbleNewWizard">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            objectClass="org.eclipse.core.resources.IFile"
            id="br.gov.frameworkdemoiselle.tools.nimble.eclipse.contribution1">
         <menu
               label="Template Processor"
               path="additions"
               id="br.gov.frameworkdemoiselle.tools.nimble.eclipse.menu1">
            <separator
                  name="Nimble">
            </separator>
         </menu>
         <action
               label="Template Processor"
               class="br.gov.frameworkdemoiselle.tools.nimble.eclipse.popup.actions.NimbelAction"
               menubarPath="br.gov.frameworkdemoiselle.tools.nimble.eclipse.menu1/group1"
               enablesFor="multiple"
               id="br.gov.frameworkdemoiselle.tools.nimble.eclipse.newAction">
         </action>
      </objectContribution>
   </extension>   
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>

</plugin>
