package ${packageName}.persistence.dao;

#if ($useDemoiselleCRUD)
import br.gov.component.demoiselle.crud.layer.ICrudDAO;

import ${packageName}.bean.${pojo};

public interface I${pojo}DAO extends ICrudDAO<${pojo}> {
}
#else
import java.util.List;

import br.gov.framework.demoiselle.core.layer.IDAO;
import br.gov.framework.demoiselle.util.page.Page;
import br.gov.framework.demoiselle.util.page.PagedResult;

import ${packageName}.bean.${pojo};

public interface I${pojo}DAO extends IDAO<${pojo}> {

	${pojo} load(${pojo} ${bean});

	${pojo} insert(${pojo} ${bean});

	void delete(${pojo} ${bean});

	void update(${pojo} ${bean});

	List<${pojo}> listAll();

	PagedResult<${pojo}> listAll(Page page);

}
#end