package ${packageName}.view;

import java.util.Iterator;
import java.util.List;
import javax.inject.Inject;
import br.gov.frameworkdemoiselle.annotation.NextView;
import br.gov.frameworkdemoiselle.annotation.PreviousView;
import br.gov.frameworkdemoiselle.stereotype.ViewController;
import br.gov.frameworkdemoiselle.template.AbstractListPageBean;
import br.gov.frameworkdemoiselle.transaction.Transactional;
import ${packageName}.business.${pojo}BC;
import ${packageName}.domain.${pojo};

@ViewController
@NextView("./${beanLower}_edit.jsf")
@PreviousView("./${beanLower}_list.jsf")
public class ${pojo}ListMB extends AbstractListPageBean<${pojo}, ${idType}> {

	private static final long serialVersionUID = 1L;

	@Inject
	private ${pojo}BC ${beanLower}BC;
	
	@Override
	protected List<${pojo}> handleResultList() {
		return this.${beanLower}BC.findAll();
	}
	
	@Transactional
	public String deleteSelection() {
		boolean delete;
		for (Iterator<${idType}> iter = getSelection().keySet().iterator(); iter.hasNext();) {
			${idType} id = iter.next();
			delete = getSelection().get(id);
			if (delete) {
				${beanLower}BC.delete(id);
				iter.remove();
			}
		}
		return getPreviousView();
	}

}