package ${packageName}.domain;

import java.io.Serializable;

import javax.persistence.Entity;
import javax.persistence.GeneratedValue;
import javax.persistence.Id;

import br.gov.frameworkdemoiselle.vaadin.annotation.Field;

@Entity
public class ${pojo} implements Serializable {

    private static final long serialVersionUID = 1L;

    @Id
    @GeneratedValue
    private Long id;

	@Field(prompt = "{${bean}.prompt.text}", label = "{${bean}.label.text}")
    private String text;

    //TODO: Add attributes here

	public Long getId() {
		return id;
	}

	public void setId(Long id) {
		this.id = id;
	}

	public void setText(String text) {
		this.text = text;
	}

	public String getText() {
		return text;
	}
	
}
