package ${packageName}.message;

import java.util.Locale;

import br.gov.framework.demoiselle.core.message.IMessage;
import br.gov.framework.demoiselle.core.message.Severity;

public enum WarningMessage implements IMessage {
	
	GENERIC_WARNING("generic_warning");
	
	private String key;
	
	private WarningMessage(String key) {
		this.key = key;
	}

	public String getKey() {
		return key;
	}

	public String getLabel() {
		return getKey();
	}

	public Locale getLocale() {
		return null;
	}

	public Severity getSeverity() {
		return Severity.WARNING;
	}
	
	public String getResourceName() {
		return "messages";
	}

}
