package ${packageName}.persistence;

import br.gov.frameworkdemoiselle.stereotype.PersistenceController;
import br.gov.frameworkdemoiselle.template.JPACrud;

import ${packageName}.domain.${pojo};

@PersistenceController
public class ${pojo}DAO extends JPACrud<${pojo}, ${idType}> {

	private static final long serialVersionUID = 1L;
	

}
