package ${packageName}.message;

import java.util.ArrayList;
import java.util.Collection;
import java.util.Locale;

import br.gov.framework.demoiselle.core.message.IMessage;
import br.gov.framework.demoiselle.core.message.Severity;

public enum ErrorMessage implements IMessage {

	GENERIC_ERROR("generic_error");

	private String label;

	private Collection<Object> params = new ArrayList<Object>();

	private ErrorMessage(String label) {
		this.label = label;
	}

	public String getKey() {
		return this.toString();
	}

	public String getLabel() {
		return label;
	}

	public Locale getLocale() {
		return new Locale("pt", "BR");
	}

	public Severity getSeverity() {
		return Severity.FATAL;
	}

	public String getResourceName() {
		return "errors";
	}

	public Object[] getParams() {
		return params.toArray();
	}

}
