package ${packageName}.message;

import java.util.Locale;

import br.gov.framework.demoiselle.core.message.IMessage;
import br.gov.framework.demoiselle.core.message.Severity;

public enum InfoMessage implements IMessage {

	GENERIC_INFO("generic_info");
	
	private String key;
	
	private InfoMessage(String key) {
		this.key = key;
	}

	public String getKey() {
		return key;
	}

	public String getLabel() {
		return getKey();
	}

	public Locale getLocale() {
		return null;
	}

	public Severity getSeverity() {
		return Severity.INFO;
	}
	
	public String getResourceName() {
		return "messages";
	}

}
